<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | chart</title>
    
</head>

<body>

    <form id="form_user_id" action="#" method="post">


    <label for="user_ID">User IDs</label>
    <select name="user_id" id="userid">
        <option value="">--Select User ID--</option>
        {% for key in user_ids %}
        <option value="{{ key }}" {% if key == selected_user_id %}selected{% endif %}>{{ key }}</option>
        {% endfor %}


    </select>

    <input type="submit" value="Submit" />
    

</form>
<script>


document.getElementById('form_user_id').addEventListener('submit', function(e) {
    e.preventDefault();  // Prevent traditional form submission
    
    const selectedUserId = document.getElementById('userid').value;
    
    sendDataToServer(selectedUserId);
});

function sendDataToServer(userId) {
    const xhr = new XMLHttpRequest();
    xhr.open('POST', '{{ url_for('chart') }}', true); 
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    
    xhr.onload = function() {
        if (this.status == 200) {
            console.log('Response from server:', this.responseText);
        } else {
            console.error('Request failed with status:', this.status);
        }
    };

    xhr.onerror = function() {
        console.error('Request failed.');
    };

    const data = 'user_id=' + encodeURIComponent(userId);
    xhr.send(data);
}

</script>
<p id="DMA"> in the text box below enter the MA window size you want now it is {{MA_window}} </p>
<p>CAUTION : in the time interval you choose be sure that the heartrate data availiable is greater than the window size in number, otherwise the result won't be so good</p>

<form id="windowSizeForm">
    <input type="text" name="window_size">
</form>
<button id="window_size_submit">Submit</button>
<script>
    document.getElementById('window_size_submit').addEventListener('click', function(event) {
    event.preventDefault();  // Prevent the default form submission

    let formData = new FormData(document.getElementById('windowSizeForm'));
    fetch('/window_size', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data.error) {
            alert(data.error);
        } else {
            document.getElementById("DMA").innerHTML = " in the text box below enter the MA window size you want, pervius one was {{MA_window}}, now it is : " + data.window_size + " press a time interval again to see the effect"

            
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

</script>
<br>
<button id="lastHourButton" type="submit">Last hour</button>
<button id="lastDayButton" type="submit">Last day</button>
<button id="lastMonthButton" type="submit">Last month</button>
    
    <div id="tester" style="height: 100%; width: 100%"></div>
    <script>

    window.onload = function() {
        

            function updateChart(timestamps, heart_rates,heart_rates_MA) {
                // console.log('updateChart called with', timestamps, heart_rates);
                var heartRateData = {
                    x: timestamps,
                    y: heart_rates.map(Number),
                    type: 'scatter',
                    name: 'Heart Rate',
                    line: { color: 'blue' },
                };
                 var heartRateData_MA ={
                    x: timestamps,
                    y: heart_rates_MA.map(Number),
                    type:'scatter',
                    name:'heart_rates_MA',
                    smoothing: 1,
                    line:{color: 'red'},

                 };
    
                var data = [heartRateData, heartRateData_MA];
                var layout = {
                    title: 'Heart Rate Over Time with Moving Average',
                    autosize: true,
                    automargin: true,
                    xaxis: {
                        title: 'Time',
                        showgrid: false,
                        zeroline: false,
                        type: 'date',
                    },
                    yaxis: {
                        title: 'Heart Rate',
                        showline: false,
                    },

                    paper_bgcolor: '#7f7f7f',

                    plot_bgcolor: '#c7c7c7'

                };

                var config = {responsive: true}
    
                var testplot = document.getElementById('tester');
                Plotly.react(testplot, data, layout, config);
            }
    
            function fetchDataForInterval(interval) {
                var userId = document.getElementById("userid").value;
                if (!userId) {
                    alert("Please select a User ID first.");
                    return;
    }
                fetch(`/time_interval?interval=${interval}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Server responded with status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Received data:', data);
                        var heart_ratees = (data.heart_rates).map(Number)
                        var heart_ratees_MA = (data.heart_rates_MA).map(Number)
                        updateChart(data.timestamps, heart_ratees,heart_ratees_MA);
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }

        //     function handleFormSubmit(event) {
        //     event.preventDefault();
        //     fetchDataForInterval('hour'); 
        // }
    

    
            document.getElementById("lastHourButton").addEventListener("click", function() {
                fetchDataForInterval('hour');
            });
    
            document.getElementById("lastDayButton").addEventListener("click", function() {
                fetchDataForInterval('day');
            });
    
            document.getElementById("lastMonthButton").addEventListener("click", function() {
                fetchDataForInterval('month');
            });
            

        

        };
    </script>
       
    <script src="/static/js/plotly-2.25.2.min.js"></script>

</body>

</html>