

<!DOCTYPE html>
<html lang="en">
<head>
  
 
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  {%if title%}
  <title>app | {{title}}</title>
  {% else %}
  <title>App</title>
  {%endif%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>

 <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}"><img src="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('chart') }}">Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Sign Up</a>
          </li>
        </ul>
          
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


</head>
{%block content%}
<body>


 

  <footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
      <div class="row">



        <div class="col-lg-3 mb-3">
          <hr class="light">
          <h5>Info</h5>
          <hr class="light">
          <p>09*********</p>
          <p>Ardabil-Iran</p>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2"> © Arums S.Bohlooli Team </li>
          </ul>
        </div>



        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
  
          <hr class="Light">
          <h5>Our Team</h5>
          <hr class="Light">
          <ul class="list-unstyled">
           <li class="mb-2"><a  style="color: black; text-decoration: none; font-weight: bold;" href="//www.sbohlooli.ir/"><p>*Prof Shahab Bohlooli</p></a></li>
          </ul>
          
          <p>Amir Gholizadeh</p>
          <p>Ramin Rafie</p>
          <p>Reza Mohammadzadeh</p>
          <p>Hanan Soleimani</p>
          <P>Ali Karbaci</P>
        
          
        </div>
        


        <div class="col-6 col-lg-2 mb-3">
          <hr class="light">
          <h5>Links</h5>
          <hr class="light">

          <ul class="list-unstyled">
            <li class="mb-2"><a style="color:black; text-decoration: none; font-weight: bold;" href="https://pharmacy.arums.ac.ir/fa">Ardabil pharmacy school</a></li>
            <!--<li class="mb-2"><a href="#">Starter template</a></li>
            <li class="mb-2"><a href="#">Webpack</a></li>
            <li class="mb-2"><a href="#">Parcel</a></li>-->
          </ul>
        </div>


        <div class="col-6 col-lg-2 mb-3">
          <hr class="light">
          <h5>Connect</h5> 
          <hr class="light"> 
          <a href="https://www.linkedin.com/in/#/"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="https://t.me/#"><i class="fa fa-telegram"></i></a>
        </div>
      

      
    

        <!--<ul class="list-unstyled">
            <li class="mb-2"><a href="#">Bootstrap 5</a></li>
            <li class="mb-2"><a href="#">Bootstrap 4</a></li>
            <li class="mb-2"><a href="#">Icons</a></li>
            <li class="mb-2"><a href="#">RFS</a></li>
            <li class="mb-2"><a href="#">npm starter</a></li>
        </ul>-->
        

        <!--<div class="col-6 col-lg-2 mb-3">
          <h5>Community</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Issues</a></li>
            <li class="mb-2"><a href="#">Discussions</a></li>
            <li class="mb-2"><a href="#">Corporate sponsors</a></li>
            <li class="mb-2"><a href="#">Open Collective</a></li>
            <li class="mb-2"><a href="#">Stack Overflow</a></li>
          </ul>
        </div>-->
      </div>
    </div>
  </footer>
 



  <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>
{%endblock%}
</html>
